# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="mongodb+srv://<username>:<password>@cluster0.ab1cd.mongodb.net/myDatabase?retryWrites=true&w=majority"

# Azure
# https://learn.microsoft.com/en-us/javascript/api/@azure/identity/environmentcredential?view=azure-node-latest
AZURE_TENANT_ID=""
AZURE_CLIENT_ID=""
AZURE_CLIENT_SECRET=""
# https://learn.microsoft.com/en-us/azure/ai-services/openai/quickstart?tabs=command-line%2Ckeyless%2Ctypescript-keyless%2Cpython-new&pivots=programming-language-typescript#retrieve-resource-information
AZURE_OPENAI_ENDPOINT="https://<name>.openai.azure.com/"
AZURE_OPENAI_CHAT_COMPLETION_DEPLOYMENT=""
AZURE_OPENAI_CHAT_COMPLETION_VERSION=""
AZURE_OPENAI_TEXT_TO_IMAGE_DEPLOYMENT=""
AZURE_OPENAI_TEXT_TO_IMAGE_VERSION=""
